
.App {
  text-align: center;
  color: #ffffff;
  background-color: #98D4D2;
  min-height: 100vh;
  font-family: 'Lora', serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.MuiButton-contained  {
  font-family: 'Lora', serif !important;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 10vh;
  color: #000000;
  background-color: #ffffff;
  font-size: calc(10px + 2vmin);
}

.Over-ons {
  margin-top: 10px;
  position: inherit;
  right: 0;
}

@media only screen and (max-height: 700px) {
  .App-header {
    min-height: 20vh;
  }
}

@media only screen and (max-width: 500px) {
  .App-header {
    flex-direction: column;
    align-items: center;
    min-height: 15vh;
  }

  .Over-ons {
    margin-top: 15px;
    position: inherit;
  }
}

@media only screen and (max-width: 400px) {
  .App-header {
    min-height: 18vh;
  }

}

.App-footer {
  color: #000000;
  background-color: #ffffff;
}

.Mark-title {
  color: #ffffff;
  background-color: #6db784;
}

/* Slider */
.MuiSlider-thumb {
  color: #ffffff;
}

.MuiSlider-rail {
  color: #000000;
}

.MuiSlider-track {
  color: #6db784;
}

.Over-ons {
  color: #ffffff;
  background-color: #f9e45b;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
